@import "../styles/variables.scss";

.sectionContainer {
  max-width: $maxwidth;
  margin: auto;

  table {
    width: 100%;
  }

  h1, h2, h3 {
    a {
      padding-right: 10px !important;
    }
  }

  ul, ol {
    padding-left: 20px;
  }
}
